{{!-- {{> menu }}

{{#each blogs}}
  <div class="post">
    <h2><a href="/blog/{{id}}">{{title}}</a></h2>
    <p>by {{usernamee}} at {{createdAt}}</p>
    <p>{{content}}</p>
  </div>
{{/each}} --}}

{{> menu }}

{{#each blogs}}
  <div class="post card mb-4">
    <div class="card-body">
      <h2 class="card-title"><a href="/blog/{{id}}" class="text-decoration-none text-dark">{{title}}</a></h2>
      <p class="card-subtitle mb-2 text-muted">by {{usernamee}} at {{createdAt}}</p>
      <p class="card-text">{{content}}</p>
    </div>
  </div>
{{/each}}
